/* Will add */
*{
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: lightgray;
    color: white;
    text-align: center;
    
}
body{
    background-color: white;
}
 img{
    max-width: 20%;
    float: right;
    padding: 1%;
    clear: both
}
.fun-facts{
    float: right;
    border-style: solid;
    border: 5px;
    max-width: 25%;
}
footer{
    left: 0;
    bottom: 0;
    position: relative;
    clear: both;
}